~$*
# /ACEversion/session_2/*
/ACEversion/session_2/cisTarget_databases/*
/ACEversion/session_2/development/*
/ACEversion/development
.DS_Store
/ACEversion/session_1/notebook/.ipynb_checkpoints/*
.*
!/.gitignore
/ACEversion/session_2/*.pptx

