~$*
# /ACEversion/session_2/*
/ACEversion/session_2/cisTarget_databases/*
/ACEversion/session_2/development/*
/ACEversion/development
.DS_Store
/ACEversion/session_1/notebook/.ipynb_checkpoints/*
.*
!/.gitignore
/ACEversion/session_2/*.pptx

# /BESTversion/session_2/*
/BESTversion/session_2/cisTarget_databases/*
/BESTversion/session_2/development/*
/BESTversion/development
.DS_Store
/BESTversion/session_1/notebook/.ipynb_checkpoints/*
.*
!/.gitignore
/BESTversion/session_2/*.pptx
/BESTversion/session_1/data/1_ARACNE/HG_U95Av2.na36.annot.csv
